{% extends 'base.html' %}

{% block title %}Авторизация в системе{% endblock %}

{% block content %}
<div class="min-h-[calc(100vh-12rem)] flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-6 bg-white p-8 rounded-2xl shadow-xs border border-gray-100">
        <div>
            <h2 class="text-center text-2xl font-black text-gray-900 tracking-tight">
                Вход в систему
            </h2>
            <p class="mt-1.5 text-center text-sm text-gray-400 font-medium">
                Введите учетные данные для доступа к корпоративному трекеру задач
            </p>
        </div>
        
        <form class="space-y-4" method="POST" action="{% url 'users:login' %}">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="bg-rose-50 border border-rose-100 text-rose-700 p-3 rounded-xl text-xs font-bold">
                    Неверное имя пользователя или пароль. Попробуйте снова.
                </div>
            {% endif %}

            <div class="space-y-1">
                <label for="id_username" class="block text-xs font-bold text-gray-400 uppercase tracking-wider">
                    Логин (Username)
                </label>
                <input type="text" name="username" id="id_username" required
                       class="w-full border border-gray-200 rounded-xl p-2.5 text-sm focus:outline-hidden focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 transition text-gray-800 font-medium">
            </div>

            <div class="space-y-1">
                <label for="id_password" class="block text-xs font-bold text-gray-400 uppercase tracking-wider">
                    Пароль
                </label>
                <input type="password" name="password" id="id_password" required
                       class="w-full border border-gray-200 rounded-xl p-2.5 text-sm focus:outline-hidden focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 transition text-gray-800">
            </div>

            <div class="pt-2">
                <button type="submit" class="w-full flex justify-center py-3 px-4 border border-transparent text-sm font-black rounded-xl text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition shadow-xs cursor-pointer">
                    Войти в аккаунт
                </button>
            </div>
        </form>
        
        <div class="text-center pt-2 border-t border-gray-100">
            <p class="text-xs text-gray-400 font-medium">
                Новый сотрудник? 
                <a href="{% url 'users:register' %}" class="font-bold text-indigo-600 hover:text-indigo-500 transition underline">
                    Зарегистрировать профиль
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}